.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 80%;
  padding: 4.2rem 3.2rem;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerTextContainer {
  display: flex;
  flex-direction: column;
}

.reviewHeader {
  font-family: AlphaHeadlinePro-Bold, sans-serif;
  font-size: 12px;
  color: var(--aqua-marine);
}

.reviewTitle {
  font-family: AlphaHeadlinePro-Bold, sans-serif;
  font-size: 24px;
  color: var(--marine);
}
